<!--


  Este enviador tiene el alcance de:
  --Recorrer la lista de clientes y leer los numeros
  --Enviar texto
  --Enviar archivos (xls/ods/jpeg/png/pdf)
  --Tiempo de retraso 25s


-->

<div class="container">
  <div class="row">
    <!-- Info -->
    <div class="col-md-3 color-6">
      <div class="card border-danger mb-3 contenedorInfo" id="contenedorSinWhatsapp" style="display: none;">
        <div class="card-header color-4">
          <h5 class="color-1">Numeros sin Whatsapp</h5>
        </div>
        <div class="card-body text-danger" id="noWhatsapp" style="height: 400px; overflow-y: scroll;">

        </div>
      </div>
    </div>
    <!-- Enviador -->
    <div class="col-md-6 color-6">
      <div class="card-container contenedor">
        <div class="card-header color-4">
          <h2 class="color-1">Enviador Web 1.0</h2>
        </div>

        <div class="card-body color-3" style="padding-bottom: 0px">
          <div class="row" id="inputExcel">
            <p class="color-1" style="margin: 0px">Seleccione el listado:</p>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="excelFile"
                  aria-describedby="inputGroupFileAddon01"
                  lang="es"
                  (change)="handleXLSFile($event)"
                />
                <label
                  id="fileName"
                  class="custom-file-label"
                  for="inputGroupFile01"
                  >{{ fileNameXLS }}</label
                >
              </div>
            </div>
          </div>

          <div class="row" id="inputImage">
            <p class="color-1" style="margin: 0px">Seleccione la imagen:</p>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="mediaFile"
                  aria-describedby="inputGroupFileAddon01"
                  lang="es"
                  (change)="handleMediaFile($event)"
                />
                <label class="custom-file-label" for="inputGroupFile01">{{
                  fileNameMedia
                }}</label>
              </div>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-danger"
                  type="button"
                  (click)="deleteMediaFile()"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>

          <div class="row" id="mensajeBox">
            <textarea
              class="form-control"
              name=""
              id="mensajeEscrito"
              cols="64"
              rows="10"
              placeholder="Escriba el mensaje..."
              style="margin-top: 10px;"
              (input)="onChangeTextArea($event)"
            ></textarea>
          </div>

          <div class="row" id="enviarUno" hidden>
            <button
              class="btn btn-outline-success"
              type="button"
              (click)="enviarMensajeUNO()"
              style="margin-top: 10px"
              data-toggle="modal"
              data-target="#staticBackdrop"
            >
              Enviar a:
            </button>
            <label style="margin-top: 20px; margin-left: 10px"
              >{{ nombreCliente }} {{ numeroCliente }}</label
            >
          </div>

          <div class="row" id="enviarTodos">
            <button
              class="btn btn-outline-success"
              type="button"
              (click)="enviarTodos()"
              style="margin-top: 10px"
              data-toggle="modal"
              data-target="#staticBackdrop"
            >
              Enviar a todos
            </button>
          </div>

          <div class="row" id="labelEnviando" style="display: none">
            <label class="color-1">Enviando mensaje, favor espere...</label>
            <span
              class="badge badge-danger"
              (click)="cancelarEnvio()"
              style="cursor: pointer"
              >Cancelar envio</span
            >
          </div>

          <div class="progress" id="progressBar" style="display: none">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated bg-success"
              role="progressbar"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ progressBarText }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Info -->
    <div class="col-md-3 color-6">
      <div class="card-content contenedorInfo">
        <div class="card-header color-4">
          <h5 class="color-1">Info</h5>
        </div>
        <div class="card-body">
          <small>
            <p>Puedes cambiar el formato del texto de tus mensajes.</p>
            <h5><strong>Cursiva</strong></h5>
            Para escribir texto en <i>cursiva</i>, coloca un guión bajo antes y
            después del texto: _texto_
            <h5><strong>Negrita</strong></h5>
            Para escribir texto en <b>negrita</b>, coloca un asterisco antes y
            después del texto: *texto*
            <h5><strong>Tachado</strong></h5>
            Para escribir texto <del>tachado</del>, coloca una tilde antes y
            después del texto: ~texto~
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
